--
-- PostgreSQL database dump
--

\restrict CkE4igSkGuM1KtKa7suZBONYST0fwBU5AEEHuCfZo9WP9H424iP2h7dCxfR4wMl

-- Dumped from database version 17.7 (Debian 17.7-3.pgdg13+1)
-- Dumped by pg_dump version 17.7 (Debian 17.7-3.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: fc_insert_customer(integer, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_insert_customer(p_people_id integer, p_user integer) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
DECLARE v_customer_id integer;
BEGIN

    INSERT INTO public.customers(
		people_id,
        created_by, 
        updated_by)
	VALUES (
		p_people_id,
        p_user,
        p_user
        )
    ON CONFLICT (people_id) 
    DO UPDATE SET 
        updated_by =   p_user,
        updated_at =   now()
    RETURNING customer_id
    INTO v_customer_id;
	
	RETURN v_customer_id;

END
$$;


ALTER FUNCTION public.fc_insert_customer(p_people_id integer, p_user integer) OWNER TO postgres;

--
-- Name: fc_insert_document_type(character varying, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_insert_document_type(p_name character varying, p_created_by integer) RETURNS record
    LANGUAGE plpgsql
    AS $$

DECLARE v_document_type_record record;
BEGIN

	INSERT INTO public.document_types(
				name, 
				created_by, 
				updated_by)
	VALUES 		(
				 p_name, 
				 p_created_by, 
				 p_created_by)
	RETURNING 	*
	INTO 		v_document_type_record;

	RETURN 		v_document_type_record;

END
$$;


ALTER FUNCTION public.fc_insert_document_type(p_name character varying, p_created_by integer) OWNER TO postgres;

--
-- Name: fc_insert_invoice(integer, character varying, timestamp without time zone, numeric, numeric, numeric, numeric, integer, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_insert_invoice(p_customer_id integer, p_invoice character varying, p_date timestamp without time zone, p_subtotal numeric, p_total numeric, p_taxes numeric, p_taxes_percentage numeric, p_user integer, p_details text) RETURNS character varying
    LANGUAGE plpgsql
    AS $$

DECLARE v_invoice_id integer;
BEGIN
	INSERT INTO public.invoices(
		customer_id ,
		invoice, 
		date ,
		subtotal ,
		total ,
		taxes,
		taxes_percentage ,
		created_by ,
		updated_by
	)
	VALUES (
		p_customer_id ,
		p_invoice, 
		p_date ,
		p_subtotal ,
		p_total ,
		p_taxes,
		p_taxes_percentage ,
		p_user, 
		p_user
	)
	RETURNING invoice_id
    INTO v_invoice_id;

	INSERT INTO public.invoice_details(
		quantity ,
		price_unit ,
		price_quantity ,
		invoice_id ,
		product_id ,
		description,
		date
	)
		SELECT 	
				quantity, 
				"priceUnit", 
				"priceQuantity", 
				v_invoice_id, 
				"productId", 
				description, 
				date

		FROM 	json_to_recordset(p_details::json)
		AS 		x(	
					quantity numeric(18,2),
					"priceUnit" numeric(18,2),
					"priceQuantity" numeric(18,2),
					"productId" integer,
					description character varying,
					date timestamp(3) without time zone);
	
	RETURN v_invoice_id;
END
$$;


ALTER FUNCTION public.fc_insert_invoice(p_customer_id integer, p_invoice character varying, p_date timestamp without time zone, p_subtotal numeric, p_total numeric, p_taxes numeric, p_taxes_percentage numeric, p_user integer, p_details text) OWNER TO postgres;

--
-- Name: fc_insert_people(integer, integer, integer, integer, character varying, character varying, character varying, character varying, text, text, text, boolean); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_insert_people(p_company_id integer, p_user integer, p_title_id integer, p_document_type_id integer, p_document_id character varying, p_initials character varying, p_first_name character varying, p_last_name character varying, p_addresses text, p_emails text, p_phones text, p_is_customer boolean) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE v_people_id integer;
BEGIN
    INSERT INTO public.people(
		company_id,
		title_id,
		document_type_id,
		document_id,
		initials,
	    first_name, 
        last_name, 
        created_by, 
        updated_by)
	VALUES (
		p_company_id,
		p_title_id,
		p_document_type_id,
		p_document_id,
		p_initials,
        p_first_name, 
        p_last_name, 
        p_user,
        p_user
        )

    RETURNING people_id
    INTO v_people_id;

    PERFORM public.fc_insert_people_addresses(v_people_id, p_user, p_addresses);
	PERFORM public.fc_insert_people_emails(v_people_id, p_user, p_emails);
    PERFORM public.fc_insert_people_phones(v_people_id, p_user, p_phones);
	
	IF p_is_customer = true THEN
		PERFORM public.fc_insert_customer(v_people_id, p_user);
	END IF;
	
	RETURN 		v_people_id;

END
$$;


ALTER FUNCTION public.fc_insert_people(p_company_id integer, p_user integer, p_title_id integer, p_document_type_id integer, p_document_id character varying, p_initials character varying, p_first_name character varying, p_last_name character varying, p_addresses text, p_emails text, p_phones text, p_is_customer boolean) OWNER TO postgres;

--
-- Name: fc_insert_people_addresses(integer, integer, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_insert_people_addresses(p_people_id integer, p_user integer, p_addresses text) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
DECLARE v_inserted boolean;
BEGIN
--We use the virtual EXCLUDED table, which contains the items we intended to insert, to update
	    INSERT INTO public.people_addresses(
	    people_id, 
        country, 
        region, 
        city, 
        line_1, 
        line_2, 
        postal_code,		
		main,
        created_by,
        updated_by)
        SELECT
            p_people_id,
            country, 
            region, 
            city, 
            line1, 
            line2, 
            "postalCode",     
			main,
            p_user,
            p_user
        
        FROM 	json_to_recordset(p_addresses::json)
		AS 		x(	    "country" character varying,
						"region" character varying,
						"city" character varying,
						"line1" character varying,
						"line2" character varying,
						"postalCode" character varying,
				  		"main" boolean
                 ) 
    ON CONFLICT (people_id, country, region, city, postal_code) 
    DO UPDATE SET 
        line_1  =   EXCLUDED.line_1, 
        line_2   =   EXCLUDED.line_2, 
        updated_by =   p_user,
        updated_at =   now();
	
	
	RETURN 		v_inserted;

END
$$;


ALTER FUNCTION public.fc_insert_people_addresses(p_people_id integer, p_user integer, p_addresses text) OWNER TO postgres;

--
-- Name: fc_insert_people_emails(integer, integer, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_insert_people_emails(p_people_id integer, p_user integer, p_emails text) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
DECLARE v_inserted boolean;
BEGIN
--We use the virtual EXCLUDED table, which contains the items we intended to insert, to update
	    INSERT INTO public.people_emails(
	    people_id, 
        email, 	
		main,
        created_by,
        updated_by)
        SELECT
            p_people_id,
            email,   
			main,
            p_user,
            p_user
        
        FROM 	json_to_recordset(p_emails::json)
		AS 		x(	    "email" character varying,
				  		"main" boolean
                 ) 
    ON CONFLICT (people_id, email) 
    DO UPDATE SET 
        updated_by =   p_user,
        updated_at =   now();
	
	
	RETURN 		v_inserted;

END
$$;


ALTER FUNCTION public.fc_insert_people_emails(p_people_id integer, p_user integer, p_emails text) OWNER TO postgres;

--
-- Name: fc_insert_people_phones(integer, integer, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_insert_people_phones(p_people_id integer, p_user integer, p_phones text) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
DECLARE v_inserted boolean;
BEGIN
--We use the virtual EXCLUDED table, which contains the items we intended to insert, to update
	    INSERT INTO public.people_phones(
	    people_id, 
        phone, 	
		main,
        created_by,
        updated_by)
        SELECT
            p_people_id,
            phone,   
			main,
            p_user,
            p_user
        
        FROM 	json_to_recordset(p_phones::json)
		AS 		x(	    "phone" character varying,
				  		"main" boolean
                 ) 
    ON CONFLICT (people_id, phone) 
    DO UPDATE SET 
        updated_by =   p_user,
        updated_at =   now();
	
	
	RETURN 		v_inserted;

END
$$;


ALTER FUNCTION public.fc_insert_people_phones(p_people_id integer, p_user integer, p_phones text) OWNER TO postgres;

--
-- Name: fc_insert_product(character varying, character varying, character varying, numeric, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_insert_product(p_code character varying, p_name character varying, p_description character varying, p_price numeric, p_created_by integer) RETURNS record
    LANGUAGE plpgsql
    AS $$

DECLARE v_product_record record;
BEGIN

	INSERT INTO public.products(
				code, 	
				name, 
				description, 
				price, 
				created_by, 
				updated_by)
	VALUES 		(p_code, 
				 p_name, 
				 p_description, 
				 p_price, 
				 p_created_by, 
				 p_created_by)
	RETURNING 	*
	INTO 		v_product_record;

	RETURN 		v_product_record;

END
$$;


ALTER FUNCTION public.fc_insert_product(p_code character varying, p_name character varying, p_description character varying, p_price numeric, p_created_by integer) OWNER TO postgres;

--
-- Name: fc_insert_title(character varying, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_insert_title(p_name character varying, p_created_by integer) RETURNS record
    LANGUAGE plpgsql
    AS $$

DECLARE v_title_record record;
BEGIN

	INSERT INTO public.titles(
				name, 
				created_by, 
				updated_by)
	VALUES 		(
				 p_name, 
				 p_created_by, 
				 p_created_by)
	RETURNING 	*
	INTO 		v_title_record;

	RETURN 		v_title_record;

END
$$;


ALTER FUNCTION public.fc_insert_title(p_name character varying, p_created_by integer) OWNER TO postgres;

--
-- Name: fc_update_document_type(integer, character varying, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_update_document_type(p_document_type_id integer, p_name character varying, p_updated_by integer) RETURNS record
    LANGUAGE plpgsql
    AS $$
DECLARE v_document_type_record record;
BEGIN

      UPDATE 	public.document_types
      SET 		name = p_name, 
				updated_by = p_updated_by,
                updated_at = now()
      WHERE 	document_type_id = p_document_type_id
	  RETURNING *
	  INTO 		v_document_type_record;

      RETURN 	v_document_type_record;

END
$$;


ALTER FUNCTION public.fc_update_document_type(p_document_type_id integer, p_name character varying, p_updated_by integer) OWNER TO postgres;

--
-- Name: fc_update_invoice(integer, integer, character varying, timestamp without time zone, numeric, numeric, numeric, numeric, integer, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_update_invoice(p_invoice_id integer, p_customer_id integer, p_invoice character varying, p_date timestamp without time zone, p_subtotal numeric, p_total numeric, p_taxes numeric, p_taxes_percentage numeric, p_user integer, p_details text) RETURNS character varying
    LANGUAGE plpgsql
    AS $$

DECLARE v_invoice_id integer;
BEGIN
	UPDATE public.invoices
	SET		customer_id = p_customer_id ,
			invoice	=	p_invoice, 
			date	=	p_date ,
			subtotal	=	p_subtotal ,
			total	=	p_total ,
			taxes	=	p_taxes,
			taxes_percentage	=	p_taxes_percentage ,
			updated_by	=	p_user,
			updated_at	=	now()
	WHERE	invoice_id	=	p_invoice_id
	RETURNING invoice_id
    INTO v_invoice_id;
	
	DELETE FROM	public.invoice_details 
	WHERE	invoice_id	=	p_invoice_id;

	INSERT INTO public.invoice_details(
		quantity ,
		price_unit ,
		price_quantity ,
		invoice_id ,
		product_id ,
		description,
		date
	)
		SELECT 	
				quantity, 
				"priceUnit", 
				"priceQuantity", 
				v_invoice_id, 
				"productId", 
				description, 
				date

		FROM 	json_to_recordset(p_details::json)
		AS 		x(	
					quantity numeric(18,2),
					"priceUnit" numeric(18,2),
					"priceQuantity" numeric(18,2),
					"productId" integer,
					description character varying,
					date timestamp(3) without time zone);
	
	RETURN v_invoice_id;
END
$$;


ALTER FUNCTION public.fc_update_invoice(p_invoice_id integer, p_customer_id integer, p_invoice character varying, p_date timestamp without time zone, p_subtotal numeric, p_total numeric, p_taxes numeric, p_taxes_percentage numeric, p_user integer, p_details text) OWNER TO postgres;

--
-- Name: fc_update_people(integer, integer, integer, integer, integer, character varying, character varying, character varying, character varying, text, text, text, boolean); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_update_people(p_company_id integer, p_people_id integer, p_user integer, p_title_id integer, p_document_type_id integer, p_document_id character varying, p_initials character varying, p_first_name character varying, p_last_name character varying, p_addresses text, p_emails text, p_phones text, p_is_customer boolean) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE v_people_id integer;
BEGIN

	UPDATE public.people
	SET company_id			=	p_company_id, 
		title_id			=	p_title_id,
		document_type_id 	=	p_document_type_id, 
		document_id			=	p_document_id, 
		initials			=	p_initials, 
		first_name			=	p_first_name, 
		last_name			=	p_last_name,
		updated_at			=	now(), 
		updated_by			=	p_user
	WHERE 
		people_id 			=	p_people_id

    RETURNING people_id
    INTO v_people_id;
	
	DELETE FROM public.people_addresses WHERE people_id = p_people_id;
	DELETE FROM public.people_phones WHERE people_id = p_people_id;
	DELETE FROM public.people_emails WHERE people_id = p_people_id;

    PERFORM public.fc_insert_people_addresses(v_people_id, p_user, p_addresses);
	PERFORM public.fc_insert_people_emails(v_people_id, p_user, p_emails);
    PERFORM public.fc_insert_people_phones(v_people_id, p_user, p_phones);
	
	IF p_is_customer = true THEN
		PERFORM public.fc_insert_customer(v_people_id, p_user);
	END IF;
	
	RETURN 		v_people_id;

END
$$;


ALTER FUNCTION public.fc_update_people(p_company_id integer, p_people_id integer, p_user integer, p_title_id integer, p_document_type_id integer, p_document_id character varying, p_initials character varying, p_first_name character varying, p_last_name character varying, p_addresses text, p_emails text, p_phones text, p_is_customer boolean) OWNER TO postgres;

--
-- Name: fc_update_product(integer, character varying, character varying, character varying, numeric, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_update_product(p_product_id integer, p_code character varying, p_name character varying, p_description character varying, p_price numeric, p_updated_by integer) RETURNS record
    LANGUAGE plpgsql
    AS $$
DECLARE v_product_record record;
BEGIN

      UPDATE 	public.products
      SET 		code = p_code, 
				name = p_name, 
				description = p_description, 
				price = p_price, 
				updated_by = p_updated_by,
        updated_at = now()
      WHERE 	product_id = p_product_id
	  RETURNING *
	  INTO 		v_product_record;

      RETURN 	v_product_record;

END
$$;


ALTER FUNCTION public.fc_update_product(p_product_id integer, p_code character varying, p_name character varying, p_description character varying, p_price numeric, p_updated_by integer) OWNER TO postgres;

--
-- Name: fc_update_title(integer, character varying, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.fc_update_title(p_title_id integer, p_name character varying, p_updated_by integer) RETURNS record
    LANGUAGE plpgsql
    AS $$
DECLARE v_title_record record;
BEGIN

      UPDATE 	public.titles
      SET 		name = p_name, 
				updated_by = p_updated_by,
                updated_at = now()
      WHERE 	title_id = p_title_id
	  RETURNING *
	  INTO 		v_title_record;

      RETURN 	v_title_record;

END
$$;


ALTER FUNCTION public.fc_update_title(p_title_id integer, p_name character varying, p_updated_by integer) OWNER TO postgres;

--
-- Name: pr_insert_product(character varying, character varying, character varying, numeric, integer, integer); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.pr_insert_product(IN p_code character varying, IN p_name character varying, IN p_description character varying, IN p_price numeric, IN p_created_by integer, IN p_updated_by integer)
    LANGUAGE plpgsql
    AS $$
BEGIN

      INSERT INTO public.products(
        code, name, description, price, created_by, updated_by)
        VALUES (p_code, p_name, p_description, p_price, p_created_by, p_updated_by);

END
$$;


ALTER PROCEDURE public.pr_insert_product(IN p_code character varying, IN p_name character varying, IN p_description character varying, IN p_price numeric, IN p_created_by integer, IN p_updated_by integer) OWNER TO postgres;

--
-- Name: pr_update_product(integer, character varying, character varying, character varying, numeric, integer); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.pr_update_product(IN p_product_id integer, IN p_code character varying, IN p_name character varying, IN p_description character varying, IN p_price numeric, IN p_updated_by integer)
    LANGUAGE plpgsql
    AS $$
BEGIN

      UPDATE public.products
      SET code = p_code, 
        name = p_name, 
        description = p_description, 
        price = p_price, 
        updated_by = p_updated_by
      WHERE product_id = p_product_id;

END
$$;


ALTER PROCEDURE public.pr_update_product(IN p_product_id integer, IN p_code character varying, IN p_name character varying, IN p_description character varying, IN p_price numeric, IN p_updated_by integer) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    customer_id integer NOT NULL,
    people_id integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_by integer NOT NULL
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: customers_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customers_customer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_customer_id_seq OWNER TO postgres;

--
-- Name: customers_customer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customers_customer_id_seq OWNED BY public.customers.customer_id;


--
-- Name: document_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_types (
    document_type_id integer NOT NULL,
    name character varying(148) NOT NULL,
    description character varying(224),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_by integer NOT NULL
);


ALTER TABLE public.document_types OWNER TO postgres;

--
-- Name: document_types_document_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.document_types_document_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.document_types_document_type_id_seq OWNER TO postgres;

--
-- Name: document_types_document_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.document_types_document_type_id_seq OWNED BY public.document_types.document_type_id;


--
-- Name: invoice_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoice_details (
    quantity numeric(18,2) NOT NULL,
    price_unit numeric(18,2) NOT NULL,
    price_quantity numeric(18,2) NOT NULL,
    invoice_id integer NOT NULL,
    product_id integer NOT NULL,
    description character varying(160) NOT NULL,
    date date NOT NULL
);


ALTER TABLE public.invoice_details OWNER TO postgres;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoices (
    invoice_id integer NOT NULL,
    invoice character varying(12) NOT NULL,
    date date NOT NULL,
    subtotal numeric(18,2) NOT NULL,
    total numeric(18,2) NOT NULL,
    taxes numeric(18,2) NOT NULL,
    taxes_percentage numeric(18,2) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_by integer NOT NULL,
    customer_id integer NOT NULL,
    date_backup timestamp without time zone
);


ALTER TABLE public.invoices OWNER TO postgres;

--
-- Name: invoices_invoice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.invoices_invoice_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invoices_invoice_id_seq OWNER TO postgres;

--
-- Name: invoices_invoice_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.invoices_invoice_id_seq OWNED BY public.invoices.invoice_id;


--
-- Name: knex_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.knex_migrations (
    id integer NOT NULL,
    name character varying(255),
    batch integer,
    migration_time timestamp with time zone
);


ALTER TABLE public.knex_migrations OWNER TO postgres;

--
-- Name: knex_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.knex_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.knex_migrations_id_seq OWNER TO postgres;

--
-- Name: knex_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.knex_migrations_id_seq OWNED BY public.knex_migrations.id;


--
-- Name: knex_migrations_lock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.knex_migrations_lock (
    index integer NOT NULL,
    is_locked integer
);


ALTER TABLE public.knex_migrations_lock OWNER TO postgres;

--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.knex_migrations_lock_index_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.knex_migrations_lock_index_seq OWNER TO postgres;

--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.knex_migrations_lock_index_seq OWNED BY public.knex_migrations_lock.index;


--
-- Name: people; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.people (
    people_id integer NOT NULL,
    company_id integer,
    title_id integer,
    document_type_id integer NOT NULL,
    document_id character varying(24) NOT NULL,
    initials character varying(10),
    first_name character varying(80) NOT NULL,
    last_name character varying(80),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_by integer NOT NULL
);


ALTER TABLE public.people OWNER TO postgres;

--
-- Name: people_addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.people_addresses (
    address_id integer NOT NULL,
    people_id integer NOT NULL,
    country character varying(80) NOT NULL,
    region character varying(80) NOT NULL,
    city character varying(80) NOT NULL,
    line_1 character varying(80) NOT NULL,
    line_2 character varying(80),
    postal_code character varying(16) NOT NULL,
    main boolean DEFAULT false,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_by integer NOT NULL
);


ALTER TABLE public.people_addresses OWNER TO postgres;

--
-- Name: people_addresses_address_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.people_addresses_address_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.people_addresses_address_id_seq OWNER TO postgres;

--
-- Name: people_addresses_address_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.people_addresses_address_id_seq OWNED BY public.people_addresses.address_id;


--
-- Name: people_emails; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.people_emails (
    email_id integer NOT NULL,
    people_id integer NOT NULL,
    email character varying(120) NOT NULL,
    main boolean DEFAULT false,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_by integer NOT NULL
);


ALTER TABLE public.people_emails OWNER TO postgres;

--
-- Name: people_emails_email_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.people_emails_email_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.people_emails_email_id_seq OWNER TO postgres;

--
-- Name: people_emails_email_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.people_emails_email_id_seq OWNED BY public.people_emails.email_id;


--
-- Name: people_people_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.people_people_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.people_people_id_seq OWNER TO postgres;

--
-- Name: people_people_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.people_people_id_seq OWNED BY public.people.people_id;


--
-- Name: people_phones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.people_phones (
    phone_id integer NOT NULL,
    people_id integer NOT NULL,
    phone character varying(16) NOT NULL,
    main boolean DEFAULT false,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_by integer NOT NULL
);


ALTER TABLE public.people_phones OWNER TO postgres;

--
-- Name: people_phones_phone_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.people_phones_phone_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.people_phones_phone_id_seq OWNER TO postgres;

--
-- Name: people_phones_phone_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.people_phones_phone_id_seq OWNED BY public.people_phones.phone_id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    product_id integer NOT NULL,
    code character varying(8) NOT NULL,
    name character varying(148) NOT NULL,
    description character varying(224),
    price numeric(18,2) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_by integer NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_product_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_product_id_seq OWNER TO postgres;

--
-- Name: products_product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_product_id_seq OWNED BY public.products.product_id;


--
-- Name: settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings (
    code character varying(12),
    value character varying(16),
    description character varying(255)
);


ALTER TABLE public.settings OWNER TO postgres;

--
-- Name: titles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.titles (
    title_id integer NOT NULL,
    name character varying(148) NOT NULL,
    description character varying(224),
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_by integer NOT NULL
);


ALTER TABLE public.titles OWNER TO postgres;

--
-- Name: titles_title_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.titles_title_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.titles_title_id_seq OWNER TO postgres;

--
-- Name: titles_title_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.titles_title_id_seq OWNED BY public.titles.title_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    people_id integer,
    user_alias character varying(120) NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_by integer NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_by integer NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: vw_document_types; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_document_types AS
 SELECT document_types.document_type_id,
    document_types.name,
    document_types.created_at,
    document_types.created_by,
    document_types.updated_at,
    document_types.updated_by,
    creator.user_alias AS created_by_alias,
    updater.user_alias AS updated_by_alias
   FROM ((public.document_types
     JOIN public.users creator ON ((document_types.created_by = creator.user_id)))
     JOIN public.users updater ON ((document_types.updated_by = updater.user_id)));


ALTER VIEW public.vw_document_types OWNER TO postgres;

--
-- Name: vw_users; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_users AS
 SELECT u.user_id,
    u.people_id,
    u.user_alias,
    u.created_at,
    u.created_by,
    u.updated_at,
    u.updated_by,
    pe.email AS user_email
   FROM ((public.users u
     LEFT JOIN public.people p ON ((u.people_id = p.people_id)))
     LEFT JOIN public.people_emails pe ON (((p.people_id = pe.people_id) AND (pe.main = true))));


ALTER VIEW public.vw_users OWNER TO postgres;

--
-- Name: vw_invoices; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_invoices AS
 SELECT i.invoice_id AS "invoiceId",
    TRIM(BOTH FROM concat(p.initials, ' ', p.first_name, ' ', p.last_name)) AS customer,
    p.document_id AS "customerDocumentId",
    i.invoice,
    date_part('year'::text, i.date) AS year,
    date_part('quarter'::text, i.date) AS quarter,
    date_part('month'::text, i.date) AS month,
    date_part('week'::text, i.date) AS week,
    date_part('day'::text, i.date) AS day,
    to_char((i.date)::timestamp with time zone, 'yyyy-mm-dd'::text) AS date,
    i.subtotal,
    i.total,
    i.taxes,
    i.taxes_percentage AS "taxesPercentage",
    i.created_at AS "createdAt",
    i.created_by AS "createdBy",
    i.updated_at AS "updatedAt",
    i.updated_by AS "updatedBy",
    i.customer_id AS "customerId",
    creator.user_alias AS "createdByAlias",
    updater.user_alias AS "updatedByAlias"
   FROM (((public.invoices i
     JOIN public.people p ON ((i.customer_id = p.people_id)))
     JOIN public.vw_users creator ON ((i.created_by = creator.user_id)))
     JOIN public.vw_users updater ON ((i.updated_by = updater.user_id)));


ALTER VIEW public.vw_invoices OWNER TO postgres;

--
-- Name: vw_invoices_base_stats; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_invoices_base_stats AS
 SELECT i.invoice_id AS "invoiceId",
    TRIM(BOTH FROM concat(p.initials, ' ', p.first_name, ' ', p.last_name)) AS customer,
    p.document_id AS "customerDocumentId",
    i.invoice,
    to_char((i.date)::timestamp with time zone, 'yyyy-mm-dd'::text) AS date,
    date_part('year'::text, i.date) AS year,
    date_part('quarter'::text, i.date) AS quarter,
    date_part('month'::text, i.date) AS month,
    date_part('week'::text, i.date) AS week,
    date_part('day'::text, i.date) AS day,
    i.subtotal,
    i.total,
    i.taxes,
    i.customer_id AS "customerId",
    det.sum_quantity AS "sumQuantity"
   FROM ((public.invoices i
     JOIN public.people p ON ((i.customer_id = p.people_id)))
     LEFT JOIN ( SELECT sum(invoice_details.quantity) AS sum_quantity,
            invoice_details.invoice_id
           FROM public.invoice_details
          GROUP BY invoice_details.invoice_id) det ON ((i.invoice_id = det.invoice_id)));


ALTER VIEW public.vw_invoices_base_stats OWNER TO postgres;

--
-- Name: vw_invoices_details; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_invoices_details AS
 SELECT d.invoice_id,
    d.product_id,
    d.quantity,
    d.price_unit,
    d.price_quantity,
    d.description,
    to_char((d.date)::timestamp with time zone, 'yyyy-mm-dd'::text) AS date,
    concat(p.code, ' : ', p.name) AS "productCodeWithName"
   FROM (public.invoice_details d
     JOIN public.products p ON ((d.product_id = p.product_id)));


ALTER VIEW public.vw_invoices_details OWNER TO postgres;

--
-- Name: vw_invoices_with_details; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_invoices_with_details AS
 SELECT i."invoiceId",
    i.customer,
    i."customerDocumentId",
    i.invoice,
    i.date,
    i.subtotal,
    i.total,
    i.taxes,
    i."taxesPercentage",
    i."createdAt",
    i."createdBy",
    i."updatedAt",
    i."updatedBy",
    i."customerId",
    i."createdByAlias",
    i."updatedByAlias",
    COALESCE(json_agg(json_build_object('productId', d.product_id, 'quantity', d.quantity, 'priceUnit', d.price_unit, 'priceQuantity', d.price_quantity, 'description', d.description, 'date', d.date, 'productNameWithCode', d."productCodeWithName")) FILTER (WHERE (d.product_id IS NOT NULL)), '[]'::json) AS details
   FROM (public.vw_invoices i
     LEFT JOIN public.vw_invoices_details d ON ((i."invoiceId" = d.invoice_id)))
  GROUP BY i."invoiceId", i.customer, i."customerDocumentId", i.invoice, i.date, i.subtotal, i.total, i.taxes, i."taxesPercentage", i."createdAt", i."createdBy", i."updatedAt", i."updatedBy", i."customerId", i."createdByAlias", i."updatedByAlias";


ALTER VIEW public.vw_invoices_with_details OWNER TO postgres;

--
-- Name: vw_people; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_people AS
 SELECT p.people_id,
    p.company_id,
    p.title_id,
    t.name AS title_name,
    p.document_type_id,
    p.document_id,
    dt.name AS document_type_name,
    p.initials,
    p.first_name,
    p.last_name,
    p.created_at,
    p.created_by,
    p.updated_at,
    p.updated_by,
    creator.user_alias AS created_by_alias,
    updater.user_alias AS updated_by_alias,
    json_agg(json_build_object('emailId', pe.email_id, 'main', pe.main, 'email', pe.email)) FILTER (WHERE (pe.email IS NOT NULL)) AS emails,
    json_agg(json_build_object('phoneId', pp.phone_id, 'main', pp.main, 'phone', pp.phone)) AS phones,
    json_agg(json_build_object('addressId', pa.address_id, 'main', pa.main, 'country', pa.country, 'region', pa.region, 'city', pa.city, 'line1', pa.line_1, 'line2', pa.line_2, 'postalCode', pa.postal_code)) AS addresses
   FROM (((((((public.people p
     LEFT JOIN public.titles t ON ((p.title_id = t.title_id)))
     LEFT JOIN public.document_types dt ON ((p.document_type_id = dt.document_type_id)))
     LEFT JOIN public.people_emails pe ON ((p.people_id = pe.people_id)))
     LEFT JOIN public.people_phones pp ON ((p.people_id = pp.people_id)))
     LEFT JOIN public.people_addresses pa ON ((p.people_id = pa.people_id)))
     JOIN public.vw_users creator ON ((p.created_by = creator.user_id)))
     JOIN public.vw_users updater ON ((p.updated_by = updater.user_id)))
  GROUP BY p.people_id, p.company_id, p.title_id, t.name, p.document_type_id, dt.name, p.document_id, p.initials, p.first_name, p.last_name, p.created_at, p.created_by, p.updated_at, p.updated_by, creator.user_alias, updater.user_alias;


ALTER VIEW public.vw_people OWNER TO postgres;

--
-- Name: vw_products; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_products AS
 SELECT products.product_id,
    products.code,
    products.name,
    products.description,
    products.price,
    products.created_at,
    products.created_by,
    products.updated_at,
    products.updated_by,
    creator.user_alias AS created_by_alias,
    updater.user_alias AS updated_by_alias
   FROM ((public.products
     JOIN public.users creator ON ((products.created_by = creator.user_id)))
     JOIN public.users updater ON ((products.updated_by = updater.user_id)));


ALTER VIEW public.vw_products OWNER TO postgres;

--
-- Name: vw_titles; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_titles AS
 SELECT titles.title_id,
    titles.name,
    titles.created_at,
    titles.created_by,
    titles.updated_at,
    titles.updated_by,
    creator.user_alias AS created_by_alias,
    updater.user_alias AS updated_by_alias
   FROM ((public.titles
     JOIN public.users creator ON ((titles.created_by = creator.user_id)))
     JOIN public.users updater ON ((titles.updated_by = updater.user_id)));


ALTER VIEW public.vw_titles OWNER TO postgres;

--
-- Name: customers customer_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers ALTER COLUMN customer_id SET DEFAULT nextval('public.customers_customer_id_seq'::regclass);


--
-- Name: document_types document_type_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_types ALTER COLUMN document_type_id SET DEFAULT nextval('public.document_types_document_type_id_seq'::regclass);


--
-- Name: invoices invoice_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices ALTER COLUMN invoice_id SET DEFAULT nextval('public.invoices_invoice_id_seq'::regclass);


--
-- Name: knex_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations ALTER COLUMN id SET DEFAULT nextval('public.knex_migrations_id_seq'::regclass);


--
-- Name: knex_migrations_lock index; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations_lock ALTER COLUMN index SET DEFAULT nextval('public.knex_migrations_lock_index_seq'::regclass);


--
-- Name: people people_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people ALTER COLUMN people_id SET DEFAULT nextval('public.people_people_id_seq'::regclass);


--
-- Name: people_addresses address_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_addresses ALTER COLUMN address_id SET DEFAULT nextval('public.people_addresses_address_id_seq'::regclass);


--
-- Name: people_emails email_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_emails ALTER COLUMN email_id SET DEFAULT nextval('public.people_emails_email_id_seq'::regclass);


--
-- Name: people_phones phone_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_phones ALTER COLUMN phone_id SET DEFAULT nextval('public.people_phones_phone_id_seq'::regclass);


--
-- Name: products product_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN product_id SET DEFAULT nextval('public.products_product_id_seq'::regclass);


--
-- Name: titles title_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.titles ALTER COLUMN title_id SET DEFAULT nextval('public.titles_title_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customers (customer_id, people_id, created_at, created_by, updated_at, updated_by) FROM stdin;
\.


--
-- Data for Name: document_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_types (document_type_id, name, description, created_at, created_by, updated_at, updated_by) FROM stdin;
1	Passport	\N	2023-01-06 14:23:42.293	1	2023-01-06 14:23:42.293	1
2	BSN	\N	2023-01-06 14:23:42.293	1	2023-01-06 14:23:42.293	1
3	Internal	\N	2023-01-06 14:48:18.149	1	2023-01-06 14:48:18.149	1
\.


--
-- Data for Name: invoice_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: knex_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: knex_migrations_lock; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.knex_migrations_lock (index, is_locked) FROM stdin;
1	0
\.


--
-- Data for Name: people; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: people_addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: people_emails; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.people_emails (email_id, people_id, email, main, created_at, created_by, updated_at, updated_by) FROM stdin;
\.


--
-- Data for Name: people_phones; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.people_phones (phone_id, people_id, phone, main, created_at, created_by, updated_at, updated_by) FROM stdin;
1	12	+31641344519	t	2023-04-21 12:51:27.146	1	2023-04-21 12:51:27.146	1
2	13	+31640622561	t	2023-04-21 13:23:42.568	1	2023-04-21 13:23:42.568	1
3	14	+31637162422	t	2023-04-21 14:02:53.602	1	2023-04-21 14:02:53.602	1
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (product_id, code, name, description, price, created_at, created_by, updated_at, updated_by) FROM stdin;
1	UREN	Cleaning Service	Cleaning Service	11.01	2023-01-06 15:42:23.355	1	2023-01-06 15:42:23.355	1
\.


--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.settings (code, value, description) FROM stdin;
\.


--
-- Data for Name: titles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.titles (title_id, name, description, created_at, created_by, updated_at, updated_by) FROM stdin;
1	Sir	\N	2023-01-06 14:23:42.293	1	2023-01-06 14:23:42.293	1
2	Ms	\N	2023-01-06 14:23:42.293	1	2023-01-06 14:23:42.293	1
3	Miss	\N	2023-01-06 14:23:42.293	1	2023-01-06 14:23:42.293	1
4	Mr	\N	2023-01-06 14:23:42.293	1	2023-01-06 14:23:42.293	1
5	Mrs 	\N	2023-01-06 14:23:42.293	1	2023-01-06 14:23:42.293	1
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, people_id, user_alias, created_at, created_by, updated_at, updated_by) FROM stdin;
1	\N	admin	2023-01-06 14:23:42.293	1	2023-01-06 14:23:42.293	1
\.


--
-- Name: customers_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customers_customer_id_seq', 1, false);


--
-- Name: document_types_document_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.document_types_document_type_id_seq', 3, true);


--
-- Name: invoices_invoice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.invoices_invoice_id_seq', 338, true);


--
-- Name: knex_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.knex_migrations_id_seq', 10, true);


--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.knex_migrations_lock_index_seq', 1, true);


--
-- Name: people_addresses_address_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.people_addresses_address_id_seq', 20, true);


--
-- Name: people_emails_email_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.people_emails_email_id_seq', 4, true);


--
-- Name: people_people_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.people_people_id_seq', 16, true);


--
-- Name: people_phones_phone_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.people_phones_phone_id_seq', 7, true);


--
-- Name: products_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_product_id_seq', 1, true);


--
-- Name: titles_title_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.titles_title_id_seq', 5, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 1, true);


--
-- Name: customers customers_people_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_people_id UNIQUE (people_id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (customer_id);


--
-- Name: document_types document_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_pkey PRIMARY KEY (document_type_id);


--
-- Name: people_emails emails_people_id_main; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_emails
    ADD CONSTRAINT emails_people_id_main UNIQUE (people_id, main);


--
-- Name: people_emails emails_people_id_phone_index; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_emails
    ADD CONSTRAINT emails_people_id_phone_index UNIQUE (people_id, email);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (invoice_id);


--
-- Name: knex_migrations_lock knex_migrations_lock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations_lock
    ADD CONSTRAINT knex_migrations_lock_pkey PRIMARY KEY (index);


--
-- Name: knex_migrations knex_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations
    ADD CONSTRAINT knex_migrations_pkey PRIMARY KEY (id);


--
-- Name: people_addresses people_addresses_people_id_country_region_city_postal_code_inde; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_addresses
    ADD CONSTRAINT people_addresses_people_id_country_region_city_postal_code_inde UNIQUE (people_id, country, region, city, postal_code);


--
-- Name: people_addresses people_addresses_people_id_main; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_addresses
    ADD CONSTRAINT people_addresses_people_id_main UNIQUE (people_id, main);


--
-- Name: people_addresses people_addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_addresses
    ADD CONSTRAINT people_addresses_pkey PRIMARY KEY (address_id);


--
-- Name: people_emails people_emails_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_emails
    ADD CONSTRAINT people_emails_pkey PRIMARY KEY (email_id);


--
-- Name: people_phones people_phones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_phones
    ADD CONSTRAINT people_phones_pkey PRIMARY KEY (phone_id);


--
-- Name: people people_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people
    ADD CONSTRAINT people_pkey PRIMARY KEY (people_id);


--
-- Name: people_phones phones_people_id_main; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_phones
    ADD CONSTRAINT phones_people_id_main UNIQUE (people_id, main);


--
-- Name: people_phones phones_people_id_phone_index; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_phones
    ADD CONSTRAINT phones_people_id_phone_index UNIQUE (people_id, phone);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (product_id);


--
-- Name: titles titles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.titles
    ADD CONSTRAINT titles_pkey PRIMARY KEY (title_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: document_types_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX document_types_name_key ON public.document_types USING btree (name);


--
-- Name: invoice_details_date_invoice_id_product_id_unique_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX invoice_details_date_invoice_id_product_id_unique_index ON public.invoice_details USING btree (date, invoice_id, product_id);


--
-- Name: people_document_id_document_type_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX people_document_id_document_type_id_key ON public.people USING btree (company_id, document_id, document_type_id);


--
-- Name: products_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_code_key ON public.products USING btree (code);


--
-- Name: products_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_name_key ON public.products USING btree (name);


--
-- Name: titles_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX titles_name_key ON public.titles USING btree (name);


--
-- Name: people_addresses addresses_people_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_addresses
    ADD CONSTRAINT addresses_people_id_fkey FOREIGN KEY (people_id) REFERENCES public.people(people_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customers customers_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: customers customers_people_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_people_id_fkey FOREIGN KEY (people_id) REFERENCES public.people(people_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customers customers_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: document_types document_types_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: document_types document_types_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_types
    ADD CONSTRAINT document_types_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: people_emails emails_people_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_emails
    ADD CONSTRAINT emails_people_id_fkey FOREIGN KEY (people_id) REFERENCES public.people(people_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: invoice_details invoice_details_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_details
    ADD CONSTRAINT invoice_details_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(invoice_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: invoices invoices_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.people(people_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: invoice_details invoices_details_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice_details
    ADD CONSTRAINT invoices_details_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: people_addresses people_addresses_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_addresses
    ADD CONSTRAINT people_addresses_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: people_addresses people_addresses_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_addresses
    ADD CONSTRAINT people_addresses_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: people people_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people
    ADD CONSTRAINT people_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: people people_document_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people
    ADD CONSTRAINT people_document_type_id_fkey FOREIGN KEY (document_type_id) REFERENCES public.document_types(document_type_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: people_emails people_emails_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_emails
    ADD CONSTRAINT people_emails_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: people_emails people_emails_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_emails
    ADD CONSTRAINT people_emails_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: people_phones people_phones_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_phones
    ADD CONSTRAINT people_phones_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: people_phones people_phones_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_phones
    ADD CONSTRAINT people_phones_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: people people_title_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people
    ADD CONSTRAINT people_title_id_fkey FOREIGN KEY (title_id) REFERENCES public.titles(title_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: people people_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people
    ADD CONSTRAINT people_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: people_phones phones_people_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.people_phones
    ADD CONSTRAINT phones_people_id_fkey FOREIGN KEY (people_id) REFERENCES public.people(people_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products products_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: products products_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: titles titles_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.titles
    ADD CONSTRAINT titles_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: titles titles_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.titles
    ADD CONSTRAINT titles_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: users users_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- Name: users users_people_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_people_id_fkey FOREIGN KEY (people_id) REFERENCES public.people(people_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: users users_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(user_id) ON UPDATE RESTRICT ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict CkE4igSkGuM1KtKa7suZBONYST0fwBU5AEEHuCfZo9WP9H424iP2h7dCxfR4wMl

